
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602070618946404914.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602070618946404914.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-602070618946404914.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602070618946404914.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602070618946404914.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602070618946404914.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602070618946404914.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602070618946404914.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602070618946404914.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602070618946404914.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-602070618946404914.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602070618946404914.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-602070618946404914.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602070618946404914.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602070618946404914.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-602070618946404914.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602070618946404914.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-602070618946404914.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602070618946404914.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602070618946404914.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602070618946404914.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-602070618946404914.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602070618946404914.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-602070618946404914.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602070618946404914.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-602070618946404914.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602070618946404914.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602070618946404914.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602070618946404914.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602070618946404914.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602070618946404914.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602070618946404914.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602070618946404914.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602070618946404914.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602070618946404914.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602070618946404914.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602070618946404914.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602070618946404914.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602070618946404914.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602070618946404914.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602070618946404914.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602070618946404914.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602070618946404914.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602070618946404914.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-602070618946404914.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602070618946404914.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602070618946404914.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-602070618946404914.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-602070618946404914.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-602070618946404914.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602070618946404914.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-602070618946404914.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-602070618946404914.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602070618946404914.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602070618946404914.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602070618946404914.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602070618946404914.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-602070618946404914.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-602070618946404914.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-602070618946404914.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-602070618946404914.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-602070618946404914.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602070618946404914.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602070618946404914.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602070618946404914.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602070618946404914.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602070618946404914.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602070618946404914.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-602070618946404914.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-602070618946404914.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-602070618946404914 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-602070618946404914 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-602070618946404914 .gp-relative{position:relative}.gps-602070618946404914 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602070618946404914 .gp-mb-0{margin-bottom:0}.gps-602070618946404914 .gp-flex{display:flex}.gps-602070618946404914 .gp-inline-flex{display:inline-flex}.gps-602070618946404914 .gp-grid{display:grid}.gps-602070618946404914 .\!gp-hidden{display:none!important}.gps-602070618946404914 .gp-hidden{display:none}.gps-602070618946404914 .gp-h-full{height:100%}.gps-602070618946404914 .gp-max-w-full{max-width:100%}.gps-602070618946404914 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602070618946404914 .gp-flex-col{flex-direction:column}.gps-602070618946404914 .gp-items-center{align-items:center}.gps-602070618946404914 .gp-justify-center{justify-content:center}.gps-602070618946404914 .gp-overflow-hidden{overflow:hidden}.gps-602070618946404914 .gp-break-words{overflow-wrap:break-word}.gps-602070618946404914 .gp-text-center{text-align:center}.gps-602070618946404914 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-602070618946404914 .gp-no-underline{text-decoration-line:none}.gps-602070618946404914 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602070618946404914 .gp-duration-200{transition-duration:.2s}.gps-602070618946404914 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602070618946404914 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-602070618946404914 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-602070618946404914 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-602070618946404914 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-602070618946404914 .tablet\:\!gp-hidden{display:none!important}.gps-602070618946404914 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-602070618946404914 .mobile\:\!gp-hidden{display:none!important}.gps-602070618946404914 .mobile\:gp-hidden{display:none}}.gps-602070618946404914 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-602070618946404914 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F8AAA7","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gJximi9omX"}' data-id="gJximi9omX" id="gJximi9omX" data-same-height-subgrid-container class="gJximi9omX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:16px;--pl:32px;--pb:16px;--pr:32px;--pt-tablet:16px;--pl-tablet:32px;--pb-tablet:16px;--pr-tablet:32px;--pt-mobile:16px;--pl-mobile:var(--g-s-l);--pb-mobile:16px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F8AAA7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gu6y9D-lGg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g2LnH6UnPa"}' data-id="g2LnH6UnPa" id="g2LnH6UnPa" data-same-height-subgrid-container class="g2LnH6UnPa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0;--cg-tablet:0;--cg-mobile:16px;--rg:16px;--rg-tablet:0;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:space-between;--pc-tablet:space-between">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gxBh4nMLYJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLAKbt_Fxn"
        class="gLAKbt_Fxn"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-3  gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;overflow:hidden"
        >
          {{ section.settings.ggLAKbt_Fxn_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gsmvxeZyYM gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#ga2O_qrHNw","target":"_self","title":"Section 9","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:left;--ta-tablet:right" >
        <style>[data-id="gAek_TTRK_"].gp-button-base::before, [data-id="gAek_TTRK_-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      
  
    }
  
      
  [data-id="gAek_TTRK_"]:hover::before, [data-id="gAek_TTRK_-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#ga2O_qrHNw
            target=_self
          ></a>
        <a
          data-id="gAek_TTRK_" dataId="gAek_TTRK_" data-state="idle" aria-label="<p><strong>Začni s podporo sklepov 👉</strong></p>"
          
          href="#ga2O_qrHNw" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:64px;--pr:64px;--pt:16px;--pb:16px;--pl-tablet:64px;--pr-tablet:64px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--hvr-bblr:12px;--hvr-bbrr:12px;--hvr-btlr:12px;--hvr-btrr:12px;--hvr-bg:var(--g-c-highlight, highlight);--bg:#0E1111;--c:var(--g-c-text-3, text-3)"
          class="gAek_TTRK_ gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggAek_TTRK__label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-602070618946404914 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=602054371101901351&sectionId=602070618946404914)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLAKbt_Fxn_text","label":"ggLAKbt_Fxn_text","default":"<strong>Odpravi bolečine v sklepih tvojega psa!</strong>"},{"type":"html","id":"ggAek_TTRK__label","label":"ggAek_TTRK__label","default":"<p><strong>Začni s podporo sklepov 👉</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}