
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602054371236905511.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-602054371236905511.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602054371236905511.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602054371236905511.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602054371236905511.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602054371236905511.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602054371236905511.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602054371236905511.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602054371236905511.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602054371236905511.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602054371236905511.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602054371236905511.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602054371236905511.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602054371236905511.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602054371236905511.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602054371236905511.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602054371236905511.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602054371236905511.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602054371236905511.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602054371236905511.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602054371236905511.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602054371236905511.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602054371236905511.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602054371236905511.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602054371236905511.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602054371236905511.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602054371236905511.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602054371236905511.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602054371236905511.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602054371236905511.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602054371236905511.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602054371236905511.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602054371236905511.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602054371236905511.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602054371236905511.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602054371236905511.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602054371236905511.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602054371236905511.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-602054371236905511.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-602054371236905511.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-602054371236905511.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602054371236905511.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-602054371236905511.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-602054371236905511.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602054371236905511.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-602054371236905511.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602054371236905511.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602054371236905511.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602054371236905511.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602054371236905511.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-602054371236905511.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-602054371236905511.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-602054371236905511.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-602054371236905511.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602054371236905511.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602054371236905511.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602054371236905511.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602054371236905511.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602054371236905511.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602054371236905511.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-602054371236905511.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-602054371236905511.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-602054371236905511 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-602054371236905511 .gp-relative{position:relative}.gps-602054371236905511 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602054371236905511 .gp-mb-0{margin-bottom:0}.gps-602054371236905511 .gp-flex{display:flex}.gps-602054371236905511 .gp-inline-flex{display:inline-flex}.gps-602054371236905511 .gp-grid{display:grid}.gps-602054371236905511 .\!gp-hidden{display:none!important}.gps-602054371236905511 .gp-hidden{display:none}.gps-602054371236905511 .gp-w-full{width:100%}.gps-602054371236905511 .gp-max-w-full{max-width:100%}.gps-602054371236905511 .gp-shrink-0{flex-shrink:0}.gps-602054371236905511 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602054371236905511 .gp-flex-col{flex-direction:column}.gps-602054371236905511 .gp-items-center{align-items:center}.gps-602054371236905511 .gp-justify-center{justify-content:center}.gps-602054371236905511 .gp-overflow-hidden{overflow:hidden}.gps-602054371236905511 .gp-border{border-width:1px}.gps-602054371236905511 .gp-border-transparent{border-color:transparent}.gps-602054371236905511 .gp-text-left{text-align:left}.gps-602054371236905511 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602054371236905511 .gp-duration-200{transition-duration:.2s}.gps-602054371236905511 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-602054371236905511 .tablet\:\!gp-hidden{display:none!important}.gps-602054371236905511 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-602054371236905511 .mobile\:\!gp-hidden{display:none!important}.gps-602054371236905511 .mobile\:gp-hidden{display:none}}.gps-602054371236905511 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-602054371236905511 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-602054371236905511 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-602054371236905511 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-602054371236905511 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-602054371236905511 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-602054371236905511 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCfAYoH98F"}' data-id="gCfAYoH98F" id="gCfAYoH98F" data-same-height-subgrid-container class="gCfAYoH98F gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaUlNsvkbA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(247, 205, 46, 0.1)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMo-ftgJwQ"}' data-id="gMo-ftgJwQ" id="gMo-ftgJwQ" data-same-height-subgrid-container class="gMo-ftgJwQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:8px;--pl:32px;--pb:8px;--pr:32px;--mb-mobile:0px;--pt-mobile:8px;--pl-mobile:16px;--pb-mobile:8px;--pr-mobile:16px;--mb-tablet:0px;--pt-tablet:8px;--pl-tablet:32px;--pb-tablet:8px;--pr-tablet:32px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--bgc:rgba(247, 205, 46, 0.1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcEhRe7m2M gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gKJBF4aVhH ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gKJBF4aVhH"
      data-id="gKJBF4aVhH"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--jc:left"
      className="gKJBF4aVhH"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":24,"mobile":"22"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:center">
            <div class="gp-inline-flex gp-flex-col" style="--rg:8px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gKJBF4aVhH"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#F7CD2E;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:22px"
                        >
                          <svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:16px;--size-tablet:16px;--size-mobile:14px;--weight:bold;--c:#0E1111;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggKJBF4aVhH_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-602054371236905511 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=602054371101901351&sectionId=602054371236905511)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKJBF4aVhH_childItem_0","label":"ggKJBF4aVhH_childItem_0","default":"<p>Več kot 5.000 zadovoljnih lastnikov psov</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}