
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608921832296350618.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608921832296350618.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608921832296350618.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608921832296350618.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608921832296350618.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608921832296350618.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608921832296350618.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608921832296350618.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608921832296350618.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608921832296350618.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608921832296350618.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608921832296350618.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608921832296350618.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-608921832296350618.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608921832296350618.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608921832296350618.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608921832296350618.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608921832296350618.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608921832296350618.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608921832296350618.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608921832296350618.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608921832296350618.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608921832296350618.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-608921832296350618.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608921832296350618.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608921832296350618.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608921832296350618.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608921832296350618.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608921832296350618.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608921832296350618.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608921832296350618.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608921832296350618.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608921832296350618.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608921832296350618.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608921832296350618.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608921832296350618.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-608921832296350618.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608921832296350618.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-608921832296350618.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608921832296350618.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608921832296350618.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608921832296350618.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-608921832296350618.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-608921832296350618.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608921832296350618.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608921832296350618.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-608921832296350618.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608921832296350618.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608921832296350618.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-608921832296350618.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-608921832296350618.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608921832296350618.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608921832296350618.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-608921832296350618.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608921832296350618.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608921832296350618 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-608921832296350618 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-608921832296350618 .gp-relative{position:relative}.gps-608921832296350618 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608921832296350618 .gp-mb-0{margin-bottom:0}.gps-608921832296350618 .gp-flex{display:flex}.gps-608921832296350618 .gp-grid{display:grid}.gps-608921832296350618 .\!gp-hidden{display:none!important}.gps-608921832296350618 .gp-hidden{display:none}.gps-608921832296350618 .gp-max-w-full{max-width:100%}.gps-608921832296350618 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608921832296350618 .gp-flex-col{flex-direction:column}.gps-608921832296350618 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608921832296350618 .gp-duration-200{transition-duration:.2s}.gps-608921832296350618 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-608921832296350618 .tablet\:\!gp-hidden{display:none!important}.gps-608921832296350618 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-608921832296350618 .mobile\:\!gp-hidden{display:none!important}.gps-608921832296350618 .mobile\:gp-hidden{display:none}}.gps-608921832296350618 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDE5E5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMv5esNtiv"}' data-id="gMv5esNtiv" id="gMv5esNtiv" data-same-height-subgrid-container class="gMv5esNtiv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:40px;--pl:32px;--pb:40px;--pr:32px;--pt-mobile:24px;--pl-mobile:16px;--pb-mobile:24px;--pr-mobile:16px;--pt-tablet:40px;--pl-tablet:32px;--pb-tablet:40px;--pr-tablet:32px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FDE5E5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3xR767i0I gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gIS9zqXzck"}' data-id="gIS9zqXzck" id="gIS9zqXzck" data-same-height-subgrid-container class="gIS9zqXzck gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaMEYijKXc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUwDk9vHVF"
        class="gUwDk9vHVF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:16px;--mb-tablet:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggUwDk9vHVF_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd9Zzg64WX"
        class="gd9Zzg64WX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--mb-mobile:40px;--mb-tablet:40px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggd9Zzg64WX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCQuj4RW82"
        class="gCQuj4RW82"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--mb-tablet:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggCQuj4RW82_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-608921832296350618 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=608921832044626842&sectionId=608921832296350618)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggUwDk9vHVF_text","label":"ggUwDk9vHVF_text","default":"To niso normalni znaki staranja!"},{"type":"html","id":"ggd9Zzg64WX_text","label":"ggd9Zzg64WX_text","default":"<p>&nbsp;</p><p><strong>To niso normalni znaki staranja.</strong></p><p>To so tri biološke spremembe, ki se dogajajo v sklepih vašega psa:</p><ol><li><strong>Kronično vnetje</strong> — vsak gib povzroča bolečino</li><li><strong>Razgradnja hrustanca</strong> — sklepi se obrabljajo, kosti drgnjajo ob kosti</li><li><strong>Oksidativni stres</strong> — celice sklepov se poškodujejo hitreje, kot se obnavljajo</li></ol><p>In če zdravite samo <strong>eno</strong> od teh težav?</p><p>&nbsp;</p><p>Ostali dve še vedno uničujeta sklepe.</p><p><strong>Zato osnovni glukozamin ne deluje.</strong> Pokriva samo hrustanec. Ne vnetja. Ne oksidativnega stresa.</p>"},{"type":"html","id":"ggCQuj4RW82_text","label":"ggCQuj4RW82_text","default":"To je razlog, zakaj &nbsp;se je Reksu stanje ni izboljšalo 8 mesecev.<br>&nbsp;Vse dokler nisem našel formule, ki pokriva <strong>vse tri</strong> mehanizme hkrati. Ne 2 sestavini. <strong>8 sestavin.</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}